
<html>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 	<head>
 			<title> Hakuna Matata </title>
	</head>
	<body>
	<style>
h1 {
    color:FFFF00;
    font-family:Lucida;
    font-size:300%;
}
body {
    background-image: url("277983-disney-hakuna-matata.jpg");
}
	</style>
		<h1><center> HAKUNA MATATA! </center></h1>
	<ul class="nav nav-pills">
 	 <li class="active"><a href="#">Know me </a></li>
 	 <li><a href="hakunamatata.html">Hakuna Matata love </a></li>
 	 <li><a href="#">Timon</a></li>
 	 <li><a href="#">Pumba</a></li>
 	  <li><a href="amazingquotes.html">Amazing Quotes from The Lion King</a></li>
 	  <li><a href="contactme.html">Contact me</a></li>


	</ul>
 
 <p><br><font size="7" color="FF0066"> I am Lubna Salhab, and I am a HAKUNA MATATA admirer</font></br></p>
 <p><br><font size ="6" color="FF0066">I'm 15 years old but who said that The Lion King was for kids?:O </font></br> </p>







	</body>
</html>
